.editEventPage {
  background-color: #97a5be;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 25%;
  align-items: center;
  gap: 2rem;
  padding: 6rem;
  border-style: solid;
  border-radius: 43px;
  border-width: 1px;
}
